---
- name: Ensure systemd is present
  ansible.builtin.package:
    name: systemd
    state: present

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Enable and start arkime service
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - arkimecapture.service
    - arkimeviewer.service
  when:
    - not is_container|bool
