---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
  become_user: root
  when:
    - not is_container|bool

- name: Run geoipupdate
  ansible.builtin.command: # noqa no-changed-when
    cmd: geoipupdate
